#
# Copyright (c) 2025 ModalAI, Inc.
#

[Unit]
Description=voxl-open-vins-server
SourcePath=/usr/local/bin/voxl-open-vins-server
After=voxl-wait-for-fs.service
Requires=voxl-wait-for-fs.service

[Service]
User=root
Type=simple
Restart=on-failure
RestartSec=3s
MemoryMax=4G
PIDFile=/run/voxl-open-vins-server.pid
ExecStart=/usr/local/bin/voxl-open-vins-server

[Install]
WantedBy=multi-user.target

