#
# Copyright (c) 2021 ModalAI, Inc.
#

[Unit]
Description=voxl-open-vins-server
SourcePath=/usr/local/bin/voxl-open-vins-server
After=voxl-camera-server.service
After=voxl-imu-server.service
Requires=voxl-camera-server.service
Requires=voxl-imu-server.service


[Service]
User=root
Type=simple
PIDFile=/run/voxl-open-vins-server.pid
ExecStartPre=/bin/bash -c 'if [[ ! -f /tmp/_vins_powerup ]]; then /bin/sleep 5 && touch /tmp/_vins_powerup; fi'
ExecStart=/usr/local/bin/voxl-open-vins-server

[Install]
WantedBy=multi-user.target

