Package: voxl-open-vins-server
Version: 0.2.4
Section: base
Priority: optional
Architecture: arm64
Depends: libmodal-pipe,libmodal-json,voxl-mpa-tools,voxl-opencv,voxl-open-vins
Conflicts:
Maintainer: matt.turi@modalai.com
Description: Publishes VIO data over named pipe interface. 
